html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-right: 40px;
}

.header-dark {
    background: linear-gradient(to right, #5B483A, #262425);
}

.header-light {
    background: #FFFFFF;
    margin-bottom: 48px;
}

.logo {
    display: block;
    padding-left: 40px;
}

.logo h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.logo-dark h1 {
    color: #F1CDB3;
}

.logo-light h1 {
    color: #545454;
}

.logo span {
    display: block;
    margin-left: 4px;
}

.logo-dark span {
    color: #FFFFFF;
}

.logo-light span {
    color: #292929;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 38px;
}

.nav-link {
    display: block;
    padding-bottom: 4px;
    border-bottom: 3px solid transparent;
}

.nav-link-dark {
    color: #CDCDCD;
}

.nav-link-light {
    color: #292929;
}

.nav-activated {
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 4px;
}

.nav-link-dark .nav-activated {
    color: #FAFAFA;
}

.nav-link-light .nav-activated {
    color: #292929;
}

/* START SCREEN CONTENT */

.start-screen-content {
    display: flex;
    background: linear-gradient(to right, #5B483A, #262425);
    padding-left: 40px;
    width: 100%;
}

.content h2 {
    color: #FFFFFF;
    margin-top: 253px;
}

.content span {
    display: block;
    margin-top: 42px;
    color: #CDCDCD;
}

.content .primary {
    margin-top: 42px;
    padding: 15px 45px 15px 45px;
    background-color: #F1CDB3;
    color: #292929;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary:hover {
  background-color: #FDDCC4;
}

.start-screen-puppy img {
    padding-top: 90px;
    margin-left: 40px;
}

/* ABOUT */

.about {
    display: flex;
    padding-top: 80px;
}

.about-pets {
    transform: translateX(-10px);
}

.about-content {
    padding-top: 10px;
    padding-left: 110px;
}

.about-content h3 {
    color: #545454;
}

.about-content span {
    display: block;
    padding-top: 25px;
}

/* PETS */

.pets {
    width: 100%;
    background-color: #F6F6F6;
    padding: 175px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets h4, .pets h2 {
    text-align: center;
    color: #545454;
    margin-bottom: 24px;
}

.slider {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 5px;
}

.cards-wrap {
    display: flex;
    gap: 90px;
}

.card {
    background-color: #FAFAFA;
    border-radius: 9px;
    width: 270px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
    height: 270px;
    width: 100%;
    margin-bottom: 30px;
}

.card-title {
    color: #545454;
    margin: 0 0 30px 0;
}

.button-secondary {
    display: inline-block;
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    color: #292929;
    transition: 0.3s;
}

.button-secondary:hover {
    background-color: #FDDCC4;
}

.button-arrow {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: transparent;
    color: #292929;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin-top: 28px;
}

.button-arrow:hover {
    background-color: #FDDCC4;
}

.button-primary {
    display: inline-block;
    padding: 15px 48px;
    background-color: #F1CDB3;
    border-radius: 100px;
    color: #292929;
    transition: 0.3s;
    margin-top: 57px;
}

.button-primary:hover {
    background-color: #fddcc4;
}